.ant-row .ant-col-6{
    display:flex;
    align-items: center;
    min-height:136px;
}
.ant-row .ant-col-6 .ant-form-item{
    display:flex;
    align-items: center;
}
.ant-form-item{
    display: flex;
}