.inquire_view{
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 50px;
    box-sizing: border-box;
}
.rebate_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}
.rebate_list>span{
    margin: 10px 0 23px 0;
}
.rebate_btn{
    width: 100px;
}