.withdraw_detail_title{
    background:dodgerblue;
    height:38px;
    line-height: 38px;
    color:#FFF;
    font-size: 16px;
    padding-left: 10px;
}
.withdraw_detail_info{
    display:flex;
}
.withdraw_detail_info_left,
.withdraw_detail_info_right{
    flex:1;
}