 .ant-table-tbody > tr > td > img{
     width:100px;
     height:100px;
 }
 .ant-input-search{
     width:220px;
     margin-left: 10px;
 }
 .all_search_box{
     width:80%;
     display: flex;
     flex-wrap: wrap;
 }
 .all_search_box div{
     flex-basis: 30%;
 }
 .editable-cell {
     position: relative;
 }

 .editable-cell-icon,
 .editable-cell-icon-check {
     cursor: pointer;
 }

 .editable-cell-icon {
     line-height: 14px;
     position: absolute;
     right: 0;
     top: 50%;
     margin-top: -7px;
     display: none;
 }

 td:hover .editable-cell-icon {
     display: inline-block;
 }

 .editable-cell-icon:hover,
 .editable-cell-icon-check:hover {
     color: #108ee9;
 }
 .ant-slider{
     width:100px;
 }